/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* No CSS *//*# sourceMappingURL=style.css.map */

body{
   font-family: 'Fredoka', sans-serif;
   font-family: 'Inter', sans-serif;
   font-family: 'Montserrat', sans-serif;
}

.center{
   max-width: 100%;
   width: 1440px;
   margin: 0 auto;
}
.center-1{
   max-width: 100%;
   width: 1320px;
   margin: 0 auto;
}
.center-2{
   max-width: 100%;
   width: 1160px;
   margin: 0 auto;
}
.wrapper .header-wrapper{
   height: 950px;
   display: grid;
   grid-template-rows: 106px 1fr;
   background: url("/images/el.png") no-repeat, url("/images/rectangle-bg.png") no-repeat, url("/images/pexels-cottonbro-7674492.png") no-repeat;
}
.wrapper .header-wrapper .header{
   display: grid;
   grid-template-columns: 230px 1fr 146px;
   justify-content: space-between;
   /* align-items: center; */
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: #fff;
}
.wrapper .header-wrapper .header .menu{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   width: 581px;
   justify-self: center;

}
.wrapper .header-wrapper .header .menu li:nth-child(3){
   color: #F7931E;
}
.wrapper .header-wrapper .header .menu li{
   padding-top: 65px;
   justify-self: center;
   cursor: pointer;
   transition: 0.4s ease-in;
}
.wrapper .header-wrapper .header .menu li:hover{
   transform: scale(1.1);
   color: #F7931E;
}
.wrapper .header-wrapper .header .menu li:nth-child(3):hover{
   color: #fff;
}
.wrapper .header-wrapper .header a{
   text-decoration: none;
   justify-self: center;
   padding-top: 65px;
   color: #fff;
   cursor: pointer;
   transition: 0.4s ease-in;
}
.wrapper .header-wrapper .header a:hover{
   color: #F7931E;
   transform: scale(1.1);
}
.wrapper .header-wrapper .section-1{
   text-align: center;
   
}
.wrapper .header-wrapper .section-1 h1{
   padding: 340px 0px 35px;
   color: #fff;
   font-weight: 700;
   font-size: 64px;
   line-height: 68px;
}
.wrapper .header-wrapper .section-1 h2{
   font-weight: 500;
   font-size: 28px;
   line-height: 34px;
   color: #fff;
   margin-bottom: 35px;
}
.wrapper .header-wrapper .section-1 .consult{
   width: 290px;
   height: 68px;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color: #fff;
   border: 0px;
   cursor: pointer;
   background: url("/images/sect-1-button-bg.svg") no-repeat;
  
}
.wrapper .header-wrapper .header-footer{
   display: grid;
   grid-template-columns: 1fr 30px 30px;
   margin-bottom: 51px;
   grid-gap: 15px;
   justify-self: center;
   align-items: center;
   justify-items: center;
   
}
.wrapper .header-wrapper .header-footer img{
   cursor: pointer;
}
.wrapper .header-wrapper .header-footer:first-child{
   padding-left: 75px;
}
/* section-2 */
.section-2{
   background-color: #0C1417;
}
.section-2 .section-2-wrapper{
   display: grid;
   grid-template-columns: 1fr 1fr 451px;
   grid-template-rows: 32px 32px 1fr;
   grid-template-areas: "a . .", "a b c", ". b .";
   /* grid-gap: 30px; */
   padding: 108px 0px 100px;
}
.section-2 .section-2-wrapper .foto-1, .section-2 .section-2-wrapper .foto-2{
   width: 308px;
   height: 432px;
   display: inline-block;
   overflow: hidden;
   position: relative;
}
.section-2 .section-2-wrapper> .foto-1 img{
   grid-area: a;
   position: absolute;
   object-fit: cover;
   object-position: center;
   top: -44px;
   left: -50px;
   
}
.section-2 .section-2-wrapper> .foto-2 img{
   grid-area: b;
   position: absolute;
   object-fit: cover;
   object-position: center;
   top: -12px;
   left: -50px;
}
.section-2 .section-2-wrapper .description{
   grid-area: c;
   padding-left: 45px;
   color: #fff;
}
.section-2 .section-2-wrapper .description .new{
   font-weight: 700;
   font-size: 30px;
   line-height: 34px;
   color: #fff;
}
.section-2 .section-2-wrapper .description .p-descr{
   font-weight: 400;
   font-size: 16px;
   line-height:26px;
  
}