/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* No CSS *//*# sourceMappingURL=style.css.map */

body{
   font-family: 'Fredoka', sans-serif;
   font-family: 'Inter', sans-serif;
   font-family: 'Montserrat', sans-serif;
}

.center{
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
}
.center-1{
   max-width: 1320px;
   width: 100%;
   margin: 0 auto;
}
.center-2{
   max-width: 1160px;
   width: 100%;
   margin: 0 auto;
}

.center-3{
   max-width: 1096px;
   width: 100%;
   margin: 0 auto;
}
.center-4{
   max-width: 984px;
   width: 100%;
   margin: 0 auto;
}
.center-8{
   max-width: 984px;
   width: 100%;
   margin: 0 51px 0 82px;
}
#color-yellow-fw-600{
   font-weight: 700;
   color: #F7931E;
   line-height: 24px;
   font-size: 16px;
}

#color-yellow-fw-700-fs-16{
   font-weight: 700;
   color: #F7931E;
   line-height: 24px;
   font-size: 16px;
}
#color-yellow-fw-700{
   font-weight: 700;
   color: #F7931E;
   line-height: 24px;
   font-size: 18px;
}

#color-black-fw-400{
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color:#0C1417;
}
#color-black-fw-500{
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color:#0C1417;
}
#color-black-fw-600{
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color:#0C1417;
}
#color-black-fw-700-fs-16{
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #0C1417;
}
#color-black-fw-700{
   font-weight: 700;
   font-size: 18px;
   line-height: 24px;
   color: #0C1417;
}
#color-black-fw-700-lh-30{
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   color: #0C1417;
}
.wrapper .header-wrapper{
   height: 950px;
   display: grid;
   grid-template-rows: 106px 1fr;
   background: url("/images/el.png") no-repeat, url("/images/rectangle-bg.png") no-repeat, url("/images/pexels-cottonbro-7674492.png") no-repeat;
}
.wrapper .header-wrapper .header{
   display: grid;
   grid-template-columns: 230px 1fr 146px;
   justify-content: space-between;
   /* align-items: center; */
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: #fff;
}
.wrapper .header-wrapper .header .menu{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   width: 581px;
   justify-self: center;

}
.wrapper .header-wrapper .header .menu li:nth-child(3){
   color: #F7931E;
}
.wrapper .header-wrapper .header .menu li{
   padding-top: 65px;
   justify-self: center;
   cursor: pointer;
   transition: 0.4s ease-in;
}
.wrapper .header-wrapper .header .menu li:hover{
   transform: scale(1.1);
   color: #F7931E;
}
.wrapper .header-wrapper .header .menu li:nth-child(3):hover{
   color: #fff;
}
.wrapper .header-wrapper .header a{
   text-decoration: none;
   justify-self: center;
   padding-top: 65px;
   color: #fff;
   cursor: pointer;
   transition: 0.4s ease-in;
}
.wrapper .header-wrapper .header a:hover{
   color: #F7931E;
   transform: scale(1.1);
}
.wrapper .header-wrapper .section-1{
   text-align: center;
   
}
.wrapper .header-wrapper .section-1 h1{
   padding: 340px 0px 35px;
   color: #fff;
   font-weight: 700;
   font-size: 64px;
   line-height: 68px;
}
.wrapper .header-wrapper .section-1 h2{
   font-weight: 500;
   font-size: 28px;
   line-height: 34px;
   color: #fff;
   margin-bottom: 35px;
}
.wrapper .header-wrapper .section-1 .consult{
   width: 290px;
   height: 68px;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color: #fff;
   border: 0px;
   cursor: pointer;
   background: url("/images/sect-1-button-bg.svg") no-repeat;
   transition: 0.4s ease-in;
}
.wrapper .header-wrapper .section-1 .consult:hover{
   transform: scale(1.1);
}
.wrapper .header-wrapper .header-footer{
   display: grid;
   grid-template-columns: 1fr 30px 30px;
   margin-bottom: 51px;
   grid-gap: 15px;
   justify-self: center;
   align-items: center;
   justify-items: center;
   
}
.wrapper .header-wrapper .header-footer img{
   cursor: pointer;
   transition: 0.4s ease-in;
}
.wrapper .header-wrapper .header-footer img:hover{
   transform: scale(1.1);
}
.wrapper .header-wrapper .header-footer:first-child{
   padding-left: 75px;
}
/* section-2 */
.section-2{
   background-color: #0C1417;
}
.section-2 .section-2-wrapper{
   display: grid;
   grid-template-columns: 1fr 1fr 451px;
   grid-template-rows: 32px 368px 32px;
   grid-gap: 30px;
   padding: 108px 0px 100px;
}
.section-2 .section-2-wrapper .foto-1{
   width: 308px;
   height: 432px;
   display: inline-block;
   overflow: hidden;
   position: relative;
   grid-column: 1/2;
   grid-row: 1/3;
}
.section-2 .section-2-wrapper .foto-2{
   width: 308px;
   height: 432px;
   display: inline-block;
   overflow: hidden;
   position: relative;
   grid-column: 2/3;
   grid-row: 2/4;
}
.section-2 .section-2-wrapper> .foto-1 img{
   position: absolute;
   object-fit: cover;
   object-position: center;
   top: -44px;
   left: -50px;
   z-index: 1;
}
.section-2 .section-2-wrapper> .foto-2 img{
   position: absolute;
   object-fit: cover;
   object-position: center;
   top: -46px;
   left: -50px;
}
.section-2 .section-2-wrapper .description{
   grid-column: 3/4;
   grid-row: 2/3;
   padding-left: 45px;
   color: #fff;
}
.section-2 .section-2-wrapper .description .new{
   font-weight: 700;
   font-size: 30px;
   line-height: 34px;
   color: #fff;
}
.section-2 .section-2-wrapper .description .p-descr{
   font-weight: 400;
   font-size: 16px;
   line-height:26px;
}
.section-2 .section-2-wrapper .description .btn-2{
   margin-top: 40px;
   background: url('/images/sect-2-button.svg');
   width: 280px;
   height: 60px;
   border: 0px;
   transition: 0.4s ease-in;
}
.section-2 .section-2-wrapper .description .btn-2:hover{
   transform: scale(1.1);
}
/* section-3 */
.section-3{
   background-color: #0C1417;
}
.section-3 .section-3-content{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 1fr;
   grid-gap: 25px;
}
.section-3 .section-3-content .card{
   display: grid;
   grid-template-columns: 64px auto;
   grid-gap: 25px;
   align-items: center;
   font-weight: 500;
   font-size: 18px;
   line-height: 28px;
   color: #fff;
   padding-bottom: 21px;
   cursor: pointer;
   transition: 0.4s ease-in;
}
.section-3 .section-3-content .card:hover{
   transform: scale(1.1);
}
.section-3 .sect-3-hr{
   display: inline-block;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}
.section-3 .sect-3-hr> hr{
   border: 2px solid #F7931E;
   width: 303px;
   grid-column: 4;
   cursor: pointer;
}
/* section-4 */
.section-4{
   background-color: #0C1417;
   
}
.section-4 .sect-4-bg{
 
   background: url('/images/sect-4-bg-2-rectangle.svg') no-repeat 0px 950px, url('/images/sect-4-bg-rectangle.svg') no-repeat 0px 891px;
   z-index: 2;
   padding-bottom: 100px;
}

.section-4 .section-4-wrapper .section-4-content h3{
   padding: 100px 0px 80px;
   text-align: center;
   font-weight: 700;
   font-size: 30px;
   line-height: 34px;
   color: #fff;
}
.section-4 .section-4-wrapper .cards-wrapper{
   display: grid;
   grid-template-columns: 42px 1fr 42px;
   align-items: center;
   justify-items: center;
}


.section-4 .section-4-wrapper .cards-wrapper .cards{
   display: grid;
   grid-template-columns: repeat(4, 268px);
   width: 1162px;
   grid-gap: 30px;
   justify-content: space-between;
}

.section-4 .section-4-wrapper .cards-wrapper .cards .card{
   width: 268px;
   height: 375px;
   overflow: hidden;
   position: relative;
   cursor: pointer;
   transition: 0.4s ease-in;
}
.section-4 .section-4-wrapper .cards-wrapper .cards .card:hover{
   transform: scale(1.1);
}
.section-4 .section-4-wrapper .cards-wrapper .cards .card img{
   position: absolute;
   top: -47px;
   left: -52px;
   
}

.section-4 .section-4-wrapper .cards-wrapper .arrow-left{
   cursor: pointer;
}
.section-4 .section-4-wrapper .cards-wrapper .hr{
   display: grid;
   grid-column: 2;
   grid-row: 2;
   justify-content: center;
   position: relative;
   cursor: pointer;
}
.section-4 .section-4-wrapper .cards-wrapper .hr hr{
   width: 1000px;
   height: 4px;
   background-color: #fff;
   margin: 33px 0px 60px;
   
}
.section-4 .section-4-wrapper .cards-wrapper .hr .bold-hr{
   position: absolute;
   width: 200px;
   height: 10px;
   background-color: #F7931E;
   top: -3px;
   left: 133px;
}

.section-4 .section-4-wrapper .cards-wrapper-2 .cards-2{
   display: grid;
   grid-template-columns: repeat(3, 362px);
   width: 1162px;
   grid-gap: 30px;
   justify-content: space-between;
}


.section-4 .section-4-wrapper .cards-wrapper-2 .cards-2 .card-2{
   width: 362px;
   height: 300px;
   overflow: hidden;
   position: relative;
   transition: 0.4s ease-in;
}
.section-4 .section-4-wrapper .cards-wrapper-2 .cards-2 .card-2:hover{
   transform: scale(1.1);
}
.section-4 .section-4-wrapper .cards-wrapper-2 .cards-2 .card-2 img{
   position: absolute;
   top: -47px;
   left: -52px;

}
.section-5{
   padding: 0px 0px;
   background: right bottom -28px url('/images/sect-5-group-bg.png') no-repeat;
}
.section-5 .section-5-bg .sect-5-content .season-tickets{
   text-align: center;
   font-weight: 700;
   font-size: 30px;
   line-height: 34px;
   padding: 100px 0px 80px;
}
.section-5 .section-5-bg .sect-5-content .sect-5-wrap{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 40px 112px 112px 112px 112px;
   row-gap: 40px;
}
.section-5 .section-5-bg .sect-5-content .sect-5-wrap .sect-5-items-1 .sect-header{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   column-gap: 35px;
   text-align: center;
}

.section-5 .section-5-bg .sect-5-content .sect-5-wrap .sect-5-items-1 .sect-header .item{
   padding: 0 0 15px;
   font-weight: 700;
   font-size: 18px;
   line-height: 24px;
   color: #0C1417;
}

.section-5 .section-5-bg .sect-5-content .sect-5-wrap .sect-5-items-1 .sect-header .item:nth-child(1){
   font-weight: 500;
   text-align: left;
}
.section-5 .section-5-bg .sect-5-content .sect-5-wrap .sect-5-items-1 .sect-header .item:last-child{
   color: #F7931E;
}
.section-5 .section-5-bg .sect-5-content .sect-5-wrap .sect-5-items-1 .sect-5-hr{
   border: 1px solid rgba(12, 20, 23, 0.5);
   margin: 0 0 35px;
}
.section-5 .section-5-bg .sect-5-content .sect-5-wrap .sect{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   column-gap: 35px;
   justify-items: center;
   align-items: center;
   text-align: center;
}

.section-5 .section-5-bg .sect-5-content .sect-5-wrap .sect .item-2:first-child{
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #0C1417;
   text-align: left;
}



.section-6 .section-6-bg .sect-6-content .season-tickets{
   text-align: center;
   font-weight: 700;
   font-size: 30px;
   line-height: 34px;
   padding: 0px 0px 80px;
}
.section-6 .section-6-bg .sect-6-content .sect-6-wrap{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 40px 112px 112px;
   row-gap: 40px;
}
.section-6 .section-6-bg .sect-6-content .sect-6-wrap .sect-6-items-1 .sect-header{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   column-gap: 35px;
   text-align: center;
}

.section-6 .section-6-bg .sect-6-content .sect-6-wrap .sect-6-items-1 .sect-header .item{
   padding: 0 0 15px;
   font-weight: 700;
   font-size: 18px;
   line-height: 24px;
   color: #0C1417;
}

.section-6 .section-6-bg .sect-6-content .sect-6-wrap .sect-6-items-1 .sect-header .item:nth-child(1){
   font-weight: 500;
   text-align: left;
}
.section-6 .section-6-bg .sect-6-content .sect-6-wrap .sect-5-items-1 .sect-header .item:last-child{
   color: #F7931E;
}
.section-6 .section-6-bg .sect-6-content .sect-6-wrap .sect-6-items-1 .sect-6-hr{
   border: 1px solid rgba(12, 20, 23, 0.5);
   margin: 0 0 35px;
}
.section-6 .section-6-bg .sect-6-content .sect-6-wrap .sect{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   column-gap: 35px;
   justify-items: center;
   align-items: center;
   text-align: center;
}

.section-6 .section-6-bg .sect-6-content .sect-6-wrap .sect .item-2:first-child{
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #0C1417;
   text-align: left;
}



.section-6{
   background: left bottom url('/images/sect-6-bg-rectangle-1.png') no-repeat, left bottom 24px url('/images/sect-6-bg-rectangle-2.png') no-repeat;
   padding: 0 0 90px;
}
.section-6 .section-5-bg .sect-5-content .season-tickets{
   padding: 0 0 80px;
}
.section-6>.section-5-bg .sect-5-content .sect-5-wrap{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr, 1fr, 1fr;
   row-gap: 40px;
}
.section-6>.section-5-bg .sect-5-content .sect-5-wrap .sect-5-items-1 .sect-header{
   display: grid;
   grid-template-columns: 232px, 1fr, 1fr, 1fr, 1fr;
   column-gap: 35px;
   text-align: center;
}

/* section-7 */
.section-7 .section-7-content{
   display: grid;
   grid-template-columns: 1fr;
}
.section-7 .section-7-content h3{
   text-align: center;
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   color: #0C1417;
   padding-bottom: 80px;
}
.section-7 .section-7-content .sect-7-cards{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 30px;
}
.section-7 .section-7-content .sect-7-cards .sect-7-card{
   display: grid;
   justify-items: center;
   margin-bottom: 30px;
   box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
   background-color: #fff;
   transition: 0.4s ease-in;
}
.sect-7-card:hover h4{
   color: #F7931E;
}
.section-7 .section-7-content .sect-7-cards .sect-7-card h4{
   text-align: center;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   /* color: #F7931E; */
   padding: 30px 0 20px;
}
.section-7 .section-7-content .sect-7-cards .sect-7-card p{
   text-align: center;
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
   color: rgba(12, 20, 23, 0.5);
   padding-bottom: 30px;
}
.section-7 .section-7-content .sect-7-cards .sect-7-card .price{
   padding: 15px 0 15px;
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
}
.section-7 .section-7-content .sect-7-cards .sect-7-card .btn-sect-7{
   cursor: pointer;
   margin: 15px auto;
   width: 220px;
   /* transition: 0.4s ease-in; */
}
.btn-sect-7 .l{
   border-color: transparent transparent #f0b879 transparent ;
   border-style: solid;
   border-width: 0 0 50px 15px;
   display: block;
   float: left;
   height: 0;
   width: 0;
   transition: 0.4s ease-in;
}
.btn-sect-7 .r{
   border-style: solid;
   border-color: #f0b879 transparent transparent transparent;
   border-width: 50px 15px 0 0;
   display: block;
   float: right;
   height: 0;
   width: 0;
   transition: 0.4s ease-in;
}
.btn-sect-7 .center{
   background: #f0b879;
   color: #FFF;
   border: #f0b879;
   display: block;
   float: left;
   font-weight: 700;
   font-size: 16px;
   line-height: 50px;
   width: 190px;
   overflow: hidden;
   text-align: center;
   transition: 0.4s ease-in;
}

.btn-sect-7:hover .l{
   border-color: transparent transparent #F7931E transparent;
}
.btn-sect-7:hover .r{
   border-color: #F7931E transparent transparent transparent;
}
.btn-sect-7:hover .center{
   background: #F7931E;
}

.sect-8{
   background-color: #0C1417;
}
.sect-8-bg{
   background: url('/images/sect-8-bg.svg') no-repeat 0px 20px;
   /* z-index: 1; */
}
.sect-8-cont-left{
   font-weight: 700;
   font-size: 30px;
   line-height: 34px;
   color: #fff;
}
.right-card{
   cursor: pointer;
}
.sect-8-cont-right .right-card > h3{
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #fff;
   padding: 20px 0 15px;
}
.sect-8-cont-right .right-card >p{
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
   color: rgba(255, 255, 255, 0.5);
   padding-bottom: 10px;
}

.sect-8-wrap{
   display: grid;
   grid-template-columns: 151px 1fr;
   row-gap: 30px;
   column-gap: 55px;
   padding-top: 100px;
}
.sect-8-cont-left{
   align-self: center;
}
.sect-8-cont-right{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 93px;
   column-gap: 30px;
}
.sect-8-cont{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 26px;
   padding-bottom: 102px;
}
.arrows{
   display: grid;
   justify-content: center;
   grid-template-columns: 1fr 1fr;
   column-gap: 42px;
   padding-top: 20px;
}
.arrows>img{
   display: inline-block;
   cursor: pointer;
}
.arrows img:last-child{
   justify-self: left;
}
.arrows img:first-child{
   justify-self: right;
}

.section-9{
   background: url('/images/sect-9-bg.png') no-repeat;
   /* visibility: hidden; */
}
.sect-9-wrap{
   width: 351px;
   display: grid;
   width: 100%;
   grid-template-columns: 351px;
   justify-content: flex-end;
   background: rgba(12, 20, 23, 0.4);
}
.section-9 .sect-9-bg .sect-9-wrap h4{
   font-weight: 700;
   font-size: 24px;
   line-height: 30px;
   color: #fff;
   padding: 111px 0 25px;
}

.sect-9-wrap a{
   text-decoration: none;
   padding-bottom: 5px;
}
.sect-9-wrap a> span{
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;
   color: #fff;
   text-align: center;
}
#sect-9-form{
   display: grid;
   
}
.sect-9-form label{
   background: url('/images/sect-9-btn-rectangle.svg') no-repeat;
}

footer{
   background: #000;
}
.footer-content{
   display: grid;
   grid-template-columns: 195px 94px 69px 191px 118px 260px;
   grid-template-rows: 1fr;
   justify-content: space-between;
   align-items: flex-start;
}
.footer-content .item{
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   color: rgba(255, 255, 255, 0.7);
   padding: 50px 0 50px;
}
.footer-content .item p{
   cursor: pointer;
   transition: 0.4s ease-in;
  
}
.footer-content .item p:hover{
   color:#F7931E;
   transform: scale(1.1);
}
.img2{
   display: grid;
   grid-template-columns: 23px 23px;
   gap: 15px;
   align-items: center;
}
.img2 img{
   display: inline-block;
   cursor: pointer;
   transition: 0.4s ease-in;
}
.img2 img:hover{
   transform: scale(1.1);
}

.footer-content:first-child .img{
   width: 195px;
   height: 65px;
   background: url('/images/footer-panteon.svg') no-repeat center -35px;
   margin-bottom: 33px;
}
.footer-content:first-child .copiright p{
   padding-bottom: 15px;
   cursor: default;
}
.copiright img{
   display: inline-block;
   margin-right: 15px;
   
}
.copiright p{
   display: inline-block;
}
.footer-content:last-child p{
   padding-bottom: 15px;
   
}
.footer-content a{
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   color: rgba(255, 255, 255, 0.7);
   text-decoration: none;
   cursor: pointer;
}
.footer-content a:hover{
   color: #F7931E;
}